@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据管理-查看</title>
    <link href="~/css/x-admin.css" rel="stylesheet" />
    <link href="~/css/pag.css" rel="stylesheet" />
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/Vue/vue.js"></script>
    <script src="~/Vue/axios.js"></script>
</head>
<body>
    <div class="x-nav"> <span class="layui-breadcrumb"> <a><cite>图书</cite></a> <a><cite>编码申请</cite></a> </span> <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a> </div>
    <div class="x-body">
        <div id="app">
            <div class="tools">
                <ul class="toolbar">
                    <li><span><img src="~/images/t03.png" /></span>批量删除</li>
                    <li><span><img src="~/images/t09.png" /></span><a href="/Books/ApplyBook">添加申请</a></li>
                    <li><input id="Text1" type="text" v-model="strSearch"/></li>
                    <li><span><img src="~/images/t02.png" /></span><a href="javascript:;" v-on:click="check">查询</a></li>
                </ul>
            </div>
            <span class="x-right" style="line-height:25px">共有数据:{{count}} 条</span>
            <table class="tablelist">
                <thead>
                    <tr>
                        <th>
                            <input onclick="selectAll()" type="checkbox" name="controlAll" style="controlAll" id="controlAll">
                        </th>
                        <th>编号</th>
                        <th>书名</th>
                        <th>ISLI编码 </th>
                        <th>ISBN</th>
                        <th>中图分类法</th>
                        <th>过期时间</th>
                        <th>申请时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="x-link">
                    <tr v-for="item in info" id="app">
                        <td><input type="checkbox" value="1" name="selected"></td>
                        <td id="id1">{{item.id}}</td>
                        <td>{{item.bookName}}</td>
                        <td>--</td>
                        <td>{{item.isbn}}</td>
                        <td>{{item.chineseLibrary}}</td>
                        <td>{{item.overDate}}</td>
                        <td>{{item.applyDate}}</td>
                        <td>{{(item.applyState)==1?"已提交":(item.applyState)==2?"正常使用":(item.applyState)==3?"未通过":(item.applyState)==4?"已注销":"已撤回"}}</td>                    
                        <td class="td-manage">
                            <a title="详情" href="javascript:;" v-on:click="data_management_look('详情', 'GeyById?id='+item.id,'','510')"
                               class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a> 
                            <a title="删除" href="javascript:;" onclick="data_management_del(this,'1')"style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a>
                            <a title="编辑" href="javascript:;" v-on:click="role_management_look('查看','UpdateBook?id='+item.id,'4','','510')"
                              class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe63c;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page" v-show="show">
            <div class="pagelist">
                <span class="jump">上一页</span> <span class="jump">1</span> <span class="jump">2</span> <span class="jump">3</span> <span class="ellipsis">...</span> <span class="jump">下一页</span> <span class="jumppoint">跳转到：</span> <span class="jumpinp">
                    <input type="text" id="pages">
                </span> <span class="jump gobtn"><a href="javascript:;" >GO</a></span>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/x-layui.js"></script>
    <script src="~/js/jquery2.js"></script>
    <script src="~/js/js.js"></script>
    <script>
        layui.use(['element', 'laypage', 'layer', 'form'], function () {
            $ = layui.jquery;//jquery
            lement = layui.element();//面包导航
            laypage = layui.laypage;//分页
            layer = layui.layer;//弹出层
            form = layui.form();//弹出层
        });
        // 编辑
        function data_management_look(title, url, w, h) {
            x_admin_show(title, url, w, h);
        }
        //查看
        function role_management_look(title, url, id, w, h) {
            x_admin_show(title, url, w, h);
        }
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                info: null,
                count: 0,
                strSearch:""
            },
            mounted: function () {
                var that = this;
                axios({
                    method: "get",
                    url: "/Books/BooksList"
                }).then(function (res) {
                    that.info = res.data.list;
                    that.count = res.data.counts;
               })
            },
            methods: {
                check: function () {
                    var that = this;
                    var parm = new URLSearchParams();
                  //  var strSearch = $("#Text1").val();
                    parm.append("str", this.strSearch);
                    axios({
                        method: "post",
                        url: '/Books/BookSearch/',
                        data: parm
                    }).then(function (res) {
                        that.info = res.data.list;
                        that.count = res.data.counts;
                    })
                },
                data_management_look(title, url, w, h) {
                     x_admin_show(title, url, w, h)
                },
                role_management_look(title, url, id, w, h) {
                    x_admin_show(title, url, w, h)
                }

            }
        })
    </script>
</body>
</html>