
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow" />
    <title>登录入口</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="~/wwwroot/css/axure_rp_page.css" rel="stylesheet" />
    <link href="~/wwwroot/css/jquery-ui-themes.css" rel="stylesheet" />
    <link href="~/wwwroot/css/styles.css" rel="stylesheet" />
    <link href="~/wwwroot/css/styles1.css" rel="stylesheet" />
    <script src="~/wwwroot/js/jquery-1.7.1.min.js"></script>
    <script src="~/wwwroot/js/jquery-ui-1.8.10.custom.min.js"></script>
</head>
<body style="background-image:url('https://d2t44wh9rnwl5y.cloudfront.net/gsc/HUXTSV/e1/f4/5c/e1f45c6938754886b7007e83d574abc1/images/%E7%99%BB%E5%BD%95%E5%85%A5%E5%8F%A3/bg.jpg?token=f94f66c15cbd03fa4aa9ddbfd18d3ccd')">
    <div id="base" class="" style="margin-left:15%">

        <!-- Unnamed (Rectangle) -->
        <div id="u10193" class="ax_default box_1">
            <div id="u10193_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10194" class="ax_default paragraph">
            <div id="u10194_div" class=""></div>
            <div id="u10194_text" class="text ">
                <p><span>ISLI登录中心</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10195" class="ax_default primary_button">
            <input type="button" name="login" value="登录" style="color:white" id="u10195_div"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10197" class="ax_default primary_button">
            <input id="u10197_div" type="text" name="username" placeholder="用户名" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10196" class="ax_default primary_button">
            <input id="u10196_div" type="password" name="pwd" placeholder="密码" />
        </div>
        <select>
            <option>出版单位</option>
            <option></option>
        </select>
        <!-- Unnamed (Rectangle) -->
        <div id="u10200" class="ax_default label">
            <div id="u10200_div" class=""></div>
            <div id="u10200_text" class="text ">
                <p><a href="/main/register">没有账号？立即注册</a></p>
            </div>
        </div>
    </div>
</body>
</html>
