
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow" />
    <title>注册入口</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="~/css/styles1.css" rel="stylesheet" />
    <link href="~/css/axure_rp_page.css" rel="stylesheet" />
    <link href="~/css/jquery-ui-themes.css" rel="stylesheet" />
</head>
<body>
    <div id="base" class="">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u254" class="ax_default ax_default_hidden" data-label="内部框架" style="display:none; visibility: hidden">
            <iframe id="u254_input" data-label="内部框架" scrolling="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u257" class="ax_default box_1">
            <div id="u257_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u258" class="ax_default paragraph">
            <div id="u258_div" class=""></div>
            <div id="u258_text" class="text ">
                <p><span>欢迎注册，请选择您的身份</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u259" class="ax_default box_1">
            <div id="u259_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u260" class="ax_default box_1">
            <div id="u260_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u261" class="ax_default heading_3">
            <div id="u261_div" class=""></div>
            <div id="u261_text" class="text ">
                <p><span>我是出版单位</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u262" class="ax_default heading_3">
            <div id="u262_div" class=""></div>
            <div id="u262_text" class="text ">
                <p><span>我是服务商</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u263" class="ax_default image">
            <img id="u263_img" class="img " src="https://dxlfb468n8ekd.cloudfront.net/gsc/HUXTSV/e1/f4/5c/e1f45c6938754886b7007e83d574abc1/images/%E6%B3%A8%E5%86%8C%E5%85%A5%E5%8F%A3/u263.png?token=a1c73724c5f80e41d61f8c636e084b24" />
        </div>

        <!-- Unnamed (Image) -->
        <div id="u264" class="ax_default image">
            <img id="u264_img" class="img " src="https://dxlfb468n8ekd.cloudfront.net/gsc/HUXTSV/e1/f4/5c/e1f45c6938754886b7007e83d574abc1/images/%E6%B3%A8%E5%86%8C%E5%85%A5%E5%8F%A3/u264.png?token=f1e05a560779eaeb271c540279eea36a" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u265" class="ax_default primary_button">
            <input type="button" id="u265_div" value="我有账号，直接登录" onclick="location.href='/main/index'" />
        </div>
    </div>
    <style type="text/css">
        body {
            margin: 0px;
            background-color: rgba(242, 242, 242, 1);
            background-image: none;
            position: static;
            left: auto;
            width: 1440px;
            margin-left: 15%;
            margin-right: 0;
            text-align: left;
        }

        #base {
            position: absolute;
            z-index: 0;
        }

        #u254 {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 16px;
            width: 1440px;
            height: 832px;
        }

        #u254_input {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1440px;
            height: 832px;
            overflow: auto;
        }

        #u255 {
            border-width: 0px;
            position: absolute;
            left: 123px;
            top: 0px;
            width: 1317px;
            height: 71px;
            overflow: hidden;
        }

        #u255_state0 {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1317px;
            height: 71px;
            -ms-overflow-x: hidden;
            overflow-x: hidden;
            -ms-overflow-y: hidden;
            overflow-y: hidden;
            background-color: rgba(255, 255, 255, 1);
            background-image: none;
        }

        #u255_state0_content {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1px;
            height: 1px;
        }

        #u256_img {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 189px;
            height: 57px;
        }

        #u256 {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 7px;
            width: 189px;
            height: 57px;
        }

        #u256_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 0px;
            visibility: hidden;
            word-wrap: break-word;
        }

        #u257_div {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1155px;
            height: 640px;
            background: inherit;
            background-color: rgba(255, 255, 255, 1);
            border: none;
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        #u257 {
            border-width: 0px;
            position: absolute;
            left: 133px;
            top: 147px;
            width: 1155px;
            height: 640px;
        }

        #u257_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 0px;
            visibility: hidden;
            word-wrap: break-word;
        }

        #u258_div {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 265px;
            height: 30px;
            background: inherit;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            border-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'PingFangSC', 'PingFang SC 標準體', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            color: #797979;
        }

        #u258 {
            border-width: 0px;
            position: absolute;
            left: 585px;
            top: 219px;
            width: 265px;
            height: 30px;
            font-family: 'PingFangSC', 'PingFang SC 標準體', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            color: #797979;
        }

        #u258_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 265px;
            white-space: nowrap;
        }

        #u259_div {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 244px;
            height: 250px;
            background: inherit;
            background-color: rgba(255, 255, 255, 1);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(228, 228, 228, 1);
            border-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        #u259 {
            border-width: 0px;
            position: absolute;
            left: 411px;
            top: 307px;
            width: 244px;
            height: 250px;
        }

        #u259_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 0px;
            visibility: hidden;
            word-wrap: break-word;
        }

        #u260_div {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 244px;
            height: 250px;
            background: inherit;
            background-color: rgba(255, 255, 255, 1);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(228, 228, 228, 1);
            border-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        #u260 {
            border-width: 0px;
            position: absolute;
            left: 747px;
            top: 307px;
            width: 244px;
            height: 250px;
        }

        #u260_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 0px;
            visibility: hidden;
            word-wrap: break-word;
        }

        #u261_div {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 109px;
            height: 25px;
            background: inherit;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            border-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'PingFangSC', 'PingFang SC 標準體', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
            color: #6B6B6B;
        }

        #u261 {
            border-width: 0px;
            position: absolute;
            left: 479px;
            top: 492px;
            width: 109px;
            height: 25px;
            font-family: 'PingFangSC', 'PingFang SC 標準體', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
            color: #6B6B6B;
        }

        #u261_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 109px;
            white-space: nowrap;
        }

        #u262_div {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 91px;
            height: 25px;
            background: inherit;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            border-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
            color: #6B6B6B;
            text-align: center;
        }

        #u262 {
            border-width: 0px;
            position: absolute;
            left: 824px;
            top: 489px;
            width: 91px;
            height: 25px;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
            color: #6B6B6B;
            text-align: center;
        }

        #u262_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 91px;
            white-space: nowrap;
        }

        #u263_img {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 73px;
            height: 73px;
        }

        #u263 {
            border-width: 0px;
            position: absolute;
            left: 497px;
            top: 378px;
            width: 73px;
            height: 73px;
        }

        #u263_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 0px;
            visibility: hidden;
            word-wrap: break-word;
        }

        #u264_img {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 80px;
            height: 68px;
        }

        #u264 {
            border-width: 0px;
            position: absolute;
            left: 830px;
            top: 378px;
            width: 80px;
            height: 68px;
        }

        #u264_text {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 0px;
            visibility: hidden;
            word-wrap: break-word;
        }

        #u265_div {
            color:white;
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 204px;
            height: 40px;
            background: inherit;
            background-color: rgba(15, 141, 233, 1);
            border: none;
            border-radius: 5px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
        }

        #u265 {
            border-width: 0px;
            position: absolute;
            left: 609px;
            top: 665px;
            width: 204px;
            height: 40px;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
        }

        #u265_div.mouseOver {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 204px;
            height: 40px;
            background: inherit;
            background-color: rgba(14, 110, 182, 1);
            border: none;
            border-radius: 5px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
        }

        #u265.mouseOver {
        }

        #u265_div.mouseDown {
            border-width: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 204px;
            height: 40px;
            background: inherit;
            background-color: rgba(14, 110, 182, 1);
            border: none;
            border-radius: 5px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
        }

        #u265.mouseDown {
        }

        #u265_text {
            border-width: 0px;
            position: absolute;
            left: 2px;
            top: 12px;
            width: 200px;
            word-wrap: break-word;
        }

    </style>
</body>
</html>


