@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript">
        var contextPath = "/isli";
        var currentLanguage = "zh_CN";
    </script>
    <title>引导注册页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="~/resources/css/portal/common.css" rel="stylesheet" />
    <link href="~/resources/css/common.css" rel="stylesheet" />
    <link href="~/resources/css/zh_CN.css" rel="stylesheet" />
    <link href="~/resources/css/perfect-scrollbar.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/resources/js/jquery.mousewheel.js"></script>
    <script src="~/resources/js/perfect-scrollbar.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#userProtocol').perfectScrollbar();
            //让同意按钮出现在屏幕底部
           $("#userProtocol").css('height', '570px');
          $("#userProtocol").css('width', '800px');
        });
    </script>
    <style>
        .serviceContent p {
            text-align: left;
            text-indent: 2em;
            font-weight: normal;
        }
    </style>
</head>
<body>

    <div class="container" >
        <div class="adminConent">
            <div class="servicebox protocol ps-container" id="userProtocol">
                <div class="serviceContent">
                    <div>
                        <H2><b>ISLI用户服务协议</b></H2>

                        &nbsp;
                        <p>
                        <p><strong><b>（一）关于服务协议</b></strong>
                        <p>
                        <p><strong><b>1.协议的确认及接纳</b></strong>
                        <p>
                        <p>本协议中所列条款内容最终解释权归国际标准关联标识符国际注册权力机构(以下简称“ISLI RA”)， ISLI RA完全遵守并执行本协议所列条款及操作规则；同时只有您在完全接受本协议并完成注册程序，才能成为ISLI注册管理系统的注册用户。
                        <p>
                        <p><strong><b>2.协议的适用范围</b></strong>
                        <p>
                        <p>本协议适用范围包括：在ISLI注册管理系统中所进行的一切相关服务和工具。
                        <p>
                        <p><strong><b>3.协议的变更和修改</b></strong>
                        <p>
                        <p>ISLI RA在认为必要时，有权对本协议随时进行更改。协议一旦发生任何变更，ISLI RA将在其网站上公布更改内容，并在公布之日起立即生效。如果您继续使用ISLI注册管理系统的相关服务，则视为接受协议条款的变更；如果您不同意变更后的协议，则须立即主动提出停止接受服务的要求。
                        <p>
                        <p><strong><b>4.服务对象</b></strong>
                        <p>
                        <p>ISLI RA规定本ISLI注册管理系统服务内容（以下简称“服务”）仅提供给接受本协议规定，并具有法人资格的单位或具有完全民事行为能力的个人使用。
                        <p>
                        <p><strong><b>5.服务内容及说明</b></strong>
                        <p>
                        <p>（1）ISLI RA是国际标准关联标识符国际注册权力机构的英文简称，ISLI RA负责ISLI在全球范围的推广应用并对ISLI注册管理系统进行管理，为全世界用户应用ISLI提供注册、ISLI编码分配以及解析和相关查询等服务。
                        <p>
                        <p>注：除非另有明确规定，ISLI注册管理系统增加或强化目前服务的任何新内容、新功能，均无条件地适应本协议。
                        <p>
                        <p>（2）为使用本服务，您必须：
                        <p>
                        <p>a 自行配备上网所必需设备，包括计算机、调制解调器或其他必备上网装置；
                        <p>b 自行承担电话费用、网络费用，以及在使用服务过程中形成的其他一切费用。
                        <p>
                        <p><strong><b>6.服务的修改和终止</b></strong>
                        <p>
                        <p>ISLI RA有权在事先通知或协商达成一致的情况下，暂时或永久地修改或终止服务（或其中任何一部分）。
                        <p>
                        <p><strong><b>（二）关于用户</b></strong>
                        <p>
                        <p><strong><b>7.用户注册注意事项</b></strong>
                        <p>
                        <p>您在填写注册内容时：
                        <p>
                        <p>(1) 提供真实、准确、完整、最新的资料；
                        <p>
                        <p>(2) 不断更新您的资料，以符合上述要求；
                        <p>
                        <p>注意：若您提供的资料存在任何错误、不实、过期或不完整的情况，或者ISLI RA有合理理由认为您的资料存在上述问题，则ISLI RA有权提出修改意见，甚至暂停您的账号使用权限，直至问题得以解决。
                        <p>
                        <p>(3) 严守个人注册账号及密码；
                        <p>
                        <p>注意：请您妥善保管个人注册账号及密码。任何由于您个人原因泄露账号及密码，并由此引发的一切后果均由您个人完全负责。 同时，如果您发现任何人未经授权使用您的账号和密码，或发生违反保密规定的任何其它情况，请立即通知ISLI RA做出紧急处理；ISLI RA不对因您未能遵守本协议规定而发生的任何损失负责。
                        <p>
                        <p><strong><b>8.用户类型及收费</b></strong>
                        <p>
                        <p>ISLI注册管理系统服务的注册用户有2大类：服务编码（SC）的注册者即关联应用服务提供商(SP)，以及关联编码(LC)的登记者。
                        <p>
                        <p>ISLI RA对以上两类用户不收取注册费用。但是为满足信息内容产业市场发展需求，各关联应用服务提供商（SP）可在全球范围内提供非强制性的有偿服务，ISLI RA有义务要求应用服务提供商(SP)及相关联机构提供的该类有偿服务遵守相关国家和地区的相关法律（尤其是反竞争法和数据保护法）、符合RAND原则（即“合理无歧视原则”）。
                        <p>
                        <p><strong><b>9.用户责任</b></strong>
                        <p>
                        <p>(1) 您在使用服务时，必须遵守所在国家与地区的法律和法规。如果ISLI RA有合理理由认为您的行为可能违反相关法律、法规、规章及条例，ISLI RA可以在任何时候，不经事先通知终止向您提供服务。
                        <p>
                        <p>(2) 关于您的资料的规定：
                        <p>
                        <p> 	a.您向ISLI RA提交的信息必须是真实、完整和有效的；
                        <p> 	b.不涉及欺诈、伪造、盗窃等犯罪行为；
                        <p> 	c.不会构成对任何第三者权益的损害，包括物权，或版权、专利、商标、商业秘密或其他知识产权，隐私权、名誉权等；
                        <p> 	d.不会违反任何法律、法规、条例或规章；
                        <p> 	e.不会含有任何诽谤（包括商业诽谤）、侮辱、恐吓或非法骚扰的内容；
                        <p> 	f.不会含有任何淫秽、暴力及儿童色情内容；
                        <p> 	g.不会含有任何蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序。
                        <p>
                        <p><strong><b>10.用户隐私制度</b></strong>
                        <p>
                        <p>尊重用户隐私是ISLI RA的一项基本政策。“隐私”是指用户在注册帐号时提供给ISLI RA的个人或机构信息，包括用户注册资料中的机构名称、姓名、证件号码、联系方式等。因业务所需，ISLI RA需与其技术提供商（TP）共享用户注册信息，ISLI RA承诺将不会向除上述技术提供商之外的其他方公开或共享用户注册资料中的任何信息， 但下列情况除外：
                        <p>
                        <p>（1）事先获得用户授权的；
                        <p>
                        <p>（2）就国家安全、执法或具有公众重要性的其他事宜，根据用户所在国家和地区的法律、法律程序、诉讼和/或公共机构和政府部门的要求而需要披露的。
                        <p>
                        <p><strong><b>（三）免责声明</b></strong>
                        <p>
                        <p><strong><b>11.免责声明</b></strong>
                        <p>
                        <p>(1) ISLI RA会确保服务满足用户的使用要求，但不保证服务不会受非人力可抗因素的影响而中断。
                        <p>
                        <p>(2) ISLI RA对于您与其他用户之间在交易过程中所涉及商品的质量、安全、服务、合法性、产生的一切费用、信息的真实性、准确性、完整性，以及交易各方是否履行其在贸易协议中的相应义务，不负有任何责任。
                        <p>
                        <p>(3) 您的资料，包括您在注册、交易等过程中，向ISLI RA或其他用户提供的任何资料，如：数据、文本、软件、音像、图片及其他材料等，均是真实可靠的；ISLI RA对由此引起的一切后果不负有任何法律责任。 但是，如果ISLI RA有理由认为您的资料可能使其承担任何法律或道义上的责任，或可能全部或部份地影响其履行ISLI国际标准注册权力机构职责，则ISLI RA有权在通知后对您的资料采取必要或适当的决定（包括但不限于删除该类资料）。
                        <p>
                        <p>(4)对于在合理控制力以外发生的事件，包括自然灾害、罢工、骚乱、物质短缺、暴动、战争、政府行为、通讯及其他设施故障等一切非人力可抗拒的因素，导致数据延迟或未能履行协议的，ISLI RA不承担任何责任及损失。
                        <p>
                        <p><strong><b>（四）知识产权</b></strong>
                        <p>
                        <p><strong><b>12.知识产权</b></strong>
                        <p>
                        <p>（1）用户向ISLI注册管理系统上传的各类内容文件（包括但不限于各种音视频数字媒体文件）的版权、商标等知识产权归属由用户与权益拥有者签署相关协议来确定。
                        <p>
                        <p>（2）ISLI RA所提供服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。
                        <p>
                        <p>（3）ISLI RA为提供服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程、反向编译或反汇编。
                        <p>
                        <p><strong><b>（五）其他</b></strong>
                        <p>
                        <p><strong><b>13.通知</b></strong>
                        <p>
                        <p>除非另有明确规定，任何来自ISLI RA的通知均以电子邮件形式发送，其发送地址为：service@isli-international.org。在电子邮件发出24小时后，通知将被视为已送达。另外，ISLI RA还可以通过邮资预付挂号邮件，并要求回执的方式，将通知发到您指定的地址。在付邮当日10天后，通知被视为已送达。
                        <p>
                        <p><strong><b>14.赔偿</b></strong>
                        <p>
                        <p>由于您违反本协议或在此提及而纳入本协议的其他规定，或者由于您违反了法律，侵害了第三方的权利，而使第三方向ISLI RA提出索赔要求（包括司法费用及其他专业人士的费用），您同意赔偿ISLI RA并使其免受损害。
                        <p>
                        <p><strong><b>15.关系认定</b></strong>
                        <p>
                        <p>作为注册用户，您与ISLI RA仅为独立订约人关系，不存在结成或创设任何代理、合伙、合营、雇用与被雇用、担保与被担保、特许权授予与被授予等项关系。
                        <p>
                        <p><strong><b>16.其他</b></strong>
                        <p>
                        <p>本协议内容受中华人民共和国香港特别行政区与中华人民共和国法律的约束。如果本协议中任何条款被裁定为无效或不可强制执行，该项条款应被撤销，而其余条款继续有效。
                        <p>
                        <p>&nbsp;
                        <p>
                        <p>
                            如您对本协议内容有任何疑问，可邮件至service@isli-international.org进行查询。

                            <H2><b>中国ISLI注册中心用户服务协议</b></H2>

                            &nbsp;
                        <p>
                        <p>1.本协议是用户与中国ISLI注册中心（以下简称“ISLI中心”）之间有关本“ISLI注册服务平台”（以下简称“服务平台”）的法律协议。在此特别提醒用户在申请注册之前，请审慎阅读并选择接受或不接受本协议。除非接受本协议所有条款，否则用户无权注册、登录或使用本协议所涉服务。用户的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。如果发生纠纷，用户应自行承担事实上未认真阅读本条款的责任，不得以未仔细阅读为由进行抗辩。
                        <p>
                        <p>2. ISLI中心在《中国标准关联标识符（ISLI）》（以下简称“ISLI标准”，标准编号：GB/T32867—2016）的规范要求下和ISLI国际注册机构的框架下承担中国大陆地区ISLI注册管理、推广、协调职责，ISLI中心完全遵守上述规范要求，执行上述规范所要求的职责和本协议所列条款。
                        <p>
                        <p><strong><b>3.服务对象</b></strong>
                        <p>ISLI注册服务平台的服务仅提供给接受本协议规定及完成相应注册程序的在国内注册登记的新闻出版单位（以下简称“用户”）。
                        <p><strong><b>4.服务内容</b></strong>
                        <p>ISLI注册服务平台面向国内用户提供包括但不限于ISLI标准用户注册，ISLI标准编码分配、发放服务及相关编码管理、相关信息发布工作等服务。
                        <p><strong><b>5.用户责任</b></strong>
                        <p>（1）用户在使用ISLI注册服务平台时，应严格遵守下列规则:
                        <p> 	a.遵守中国所有适用的法律和法规；
                        <p> 	b.遵守所有与服务有关的网络协议、规定和程序，但是，适用于用户行业但通常不适用于信息技术服务提供商的任何法律，不包括在内；
                        <p> 	c.不得为任何非法目的而使用本注册服务平台；
                        <p> 	d.不得以任何形式使用该服务平台侵犯ISLI中心的合法利益；
                        <p> 	e.不得利用服务平台进行任何可能对互联网或移动网正常运转造成不利影响的行为；也不得利用该服务平台上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；
                        <p> 	f.不得利用服务平台侵犯任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益。
                        <p>（2）用户在使用本服务平台时应自行配备上网所必需设备，包括计算机、调制解调器或其他必备上网装置，并自行承担电话费用、网络费用，以及在使用服务过程中形成的其他一切费用。
                        <p>（3）用户在本服务平台上提供的信息应真实、准确、完整，并及时更新；若因用户原因使得信息不准确、错误，导致在本平台上的服务无法正常进行时，ISLI中心不承担责任。同时若ISLI中心有合理理由认为用户信息存在上述问题时，ISLI中心有权提出修改意见，甚至暂停用户的使用，直至问题得以解决。
                        <p>（4）用户不应将其用户名、密码转让或出借予他人使用。如用户发现其用户名遭他人非法使用，应立即通知ISLI中心。非因中心工作失误导致的用户名、密码的泄露和非法使用，中心不承担任何责任。
                        <p><strong><b>6.ISLI中心职责</b></strong>
                        <p>（1）中心完全尊重用户隐私，除按法律法规规定公开和用户授权外，中心不得对外公开或向第三方提供用户注册资料及用户在使用服务平台时存储的在中心服务平台上非公开的内容。用户理解并确认，本服务存在因不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险，因此导致的用户或第三方任何损失，ISLI中心不承担任何责任。
                        <p>（2）中心有权对平台使用情况进行监督，如用户在使用时违反本协议及相关规范的规定时，中心可以要求用户改正或直接采取一切必要的措施以减轻用户不当行为造成的影响，且中心无须对此承担责任。
                        <p>（3）除非法律法规及相关文件有明确要求，中心将不会对用户提供的注册数据或上传的有关内容文件等所有信息进行事先审查。
                        <p>（4）用户理解并确认，ISLI注册服务平台或相关的设备需要定期或不定期地进行检修或者维护，如因上述情况而造成服务在合理时间内的中断，ISLI中心无需为此承担任何责任，但ISLI中心应事先进行通告。
                        <p>（5）在任何情况下，ISLI中心均不对任何间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害，包括因用户使用服务而遭受的利润损失，承担责任（即使ISLI中心已被告知该等损失的可能性亦然）。尽管本协议中可能含有相悖的规定，ISLI中心对用户承担的全部责任，无论因何原因或何种行为方式，始终不超过用户因使用ISLI中心提供的服务而支付给ISLI中心的费用。
                        <p><strong><b>7. 免责条款</b></strong>
                        <p>因不可抗力如自然灾害、罢工、骚乱、物质短缺、暴动、战争、政府行为、通讯及其他设施故障等一切非人力可抗拒的因素，导致服务延迟或无法提供时，ISLI中心不承担任何责任及损失。本服务同大多数互联网服务一样，受包括但不限于用户原因、网络服务质量、社会环境等因素的差异影响，可能受到各种安全问题的侵扰，如他人利用用户的资料，造成现实生活中的骚扰；用户下载安装的其它软件或访问的其他网站中含有“特洛伊木马”等病毒，威胁到用户的计算机信息和数据的安全，继而影响本服务的正常使用等等。用户应加强信息安全及使用者资料的保护意识，要注意加强密码保护，以免遭致损失和骚扰。
                        <p><strong><b>8.知识产权</b></strong>
                        <p>（1）用户向注册服务平台上传的各类文件的版权、商标等知识产权归属由用户与权益拥有者签署相关协议来确定。
                        <p>（2）ISLI中心所提供服务中包含的任何文件均受版权、商标和/或其它财产所有权法律的保护，未经平台或相关权利人同意，用户不得为任何营利性或非营利性的目的自行实施、利用、转让或许可任何第三方实施、利用、转让上述知识产权，ISLI中心保留追究上述未经许可行为的权利。
                        <p>（3）ISLI中心为提供服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程、反向编译、反汇编或破解。
                        <p><strong><b>9.协议的变更和修改</b></strong>
                        <p>ISLI中心在认为必要时，有权对本协议进行更改。协议一旦发生任何变更，中心将在其网站上公布更改内容，自公布之日起，如用户继续使用ISLI注册服务平台上提供的相关服务，则视为接受协议条款的变更；如用户不同意变更后的协议，则须立即主动提出停止接受服务的要求，否则ISLI中心将自行停止提供服务。
                        <p><strong><b>10.通知</b></strong>
                        <p>除非另有明确规定，任何来自ISLI中心的通知均以电子邮件形式发送，邮箱地址为：service@isli-international.org，电子邮件到达受送达人特定系统的日期为送达日期。另外，ISLI中心还可以通过邮资预付挂号邮件，并要求回执的方式，将通知发到用户指定的地址，挂号信回执上注明的收件日期为送达日期。
                        <p><strong><b>11.赔偿</b></strong>
                        <p>由于用户违反本协议或在此提及而纳入本协议的其他规定，或者由于用户违反了法律，侵害了第三方的权利，而使ISLI中心受到损失的，用户同意赔偿ISLI中心的所有损失。
                        <p><strong><b>12. 适用范围</b></strong>
                        <p>本协议用于ISLI注册服务平台上所进行的一切相关服务，协议条款及相关服务内容的最终解释权归ISLI中心。
                        <p>本协议内容受中华人民共和国法律的约束。如果本协议中任何条款被裁定为无效，不影响协议其他条款的效力。
                        <p>
                        <p>&nbsp;
                        <p>
                        <p>如您对本协议内容有任何疑问，可邮件至service@isli-international.org进行查询。

                    </div>

                </div>
            </div>
            <div class="servicesBtn centerButton">
                <a class="regBtnOk" onclick="TOSclose()">同意</a>
                <a class="btnBackh ml15" onclick="toregister()">稍后再说</a>
            </div>
        </div>
    </div>
    <script>
        function TOSclose() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }

        function toregister() {
            parent.location.href="/main/register"
        }
    </script>
</body>
</html>
