
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePwd</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <script language="JavaScript" src="~/js/jquery2.js"></script>
    <script src="~/js/cloud.js"></script>
    <script language="JavaScript" src="~/js/js.js"></script>

</head>
<body>
    <div class="loginbody">
        <span class="systemlogo"></span>
        <div class="loginbox">
            <ul>
                <li>
                    <input name="" type="text" class="loginpwd" value="原密码" onclick="JavaScript:this.value=''" />
                </li>
                <li>
                    <input name="" type="text" class="loginpwd" value="密码" onclick="JavaScript:this.value=''" />
                </li>
                <li>
                    <input name="" type="text" class="loginpwd" value="确认密码" onclick="JavaScript:this.value=''" />
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
