* {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	font-size: 12px;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333;
	line-height: 28px;
	background: #e8e8e8;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
}

form,input {
	display: inline;
	font-size: 1em;
	outline: none;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
}

.page-s {
	clear: both;
	margin: 20px 0;
	height: 30px;
}

.page-s button {
	height: 26px;
	cursor: pointer;
	border: 0;
}

img {
	border: 0;
	vertical-align: middle;
}

ul,li {
	list-style-type: none;
}

table,td {
	border-collapse: collapse
}

address,em {
	font-style: normal;
}

a {

	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
	outline: none;
}

a:hover {
	text-decoration: none;
}

input,textarea {
	background: transparent;
}

::-moz-input-placeholder {
	color:#aaa;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.header .logo {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 56px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #FFFFFF;
	float: left;
	width: 167px;
	height: 78px;
	margin-top: 40px;
 	margin-left: 78px;
}

.return {
	color: #62c2ef;
	display: block;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	padding-top: 35px;
	text-align: right;
	width: 98%;
}

.header {
	width: 1280px;
	height: 163px;
	margin: 0 auto;
	background: #fff;
	position:relative;

}

.head .login {
	position: absolute;
	right:98px;
	top: 67px;
	height: 20px;
}

.head .login a {
	line-height: 22px;
}

.membersArea {
	width: 65px;
	height: 22px;
	background: #0168b5;
	color: #fff;
	font-size: 14px;
	display: block;
	text-align: center;
	line-height: 22px;
	float: left;
	margin-right: 15px;
}

#languageList {
	float: left;
	width:100px;
	height:22px;
	line-height:22px;
	font-size:13px;
	border:1px solid #d6d6d6;
}
.navs {
	width: auto;
	height: 45px;
	position: absolute;
	right: 45px;
	top:117px;
	z-index: 12;
}

.navs ul li {
	float: left;
	height: auto;
	width: 120px;
}

.navs ul li a {
	width: 95px;
	height: 45px;
	color: #5d5b5b;
	font-size: 16px;
	display: block;
	line-height: 27px;
	text-align: center;
	 overflow: hidden;
	  white-space: nowrap;
}

.navs ul li a.current,.navs ul li a:hover,.navs ul li a.selectd {
	color: #0168b5;
}

.navs ul li a.ali.select {
	background: url(../../images/nav_bg.jpg) center bottom no-repeat;
}

.navs ul li ul {
	margin-left: -36px;
	position: absolute;
	z-index: 100;
	display: none;
	top:45px;
}

.navs ul li ul li {
	height: 40px;
	background: #00a0e9;
	border-bottom: 1px solid #26b2f2;
	text-align: center;
	padding: 0 10px;
	display: block;
	float: none;
	width: 100%
}

.navs ul li ul li a {
	color: #fff;
	line-height: 40px;
	height: 40px;
	background: none;
	display: inline-block;
	width:auto;
}

.navs ul li ul li a:hover {
	background: none;
	color: #fff;
}

.navs ul li ul li:hover {
	background: #0095df;
}

.scroll {
	width: 1280px;
	height: 600px;
	position: relative;
}

.scrollImg {
	width: 1280px;
	height: 600px;
	overflow: hidden;
	position: relative;
}

.scrollImg ul {
	width: 99999px;
}

.scrollImg ul li {
	float: left;
	position: relative;
	width: 1280px;
	height: 600px;
}

.scrollImg ul li img {
	width: 1280px;
	height: 600px;
	float: left;
}

.scrollBtn {
	width: 180px;
	margin: 0 auto;
	height: 14px;
	margin-top: -64px;
	position: relative;
}

.scrollBtn ul li {
	float: left;
	width: 15px;
	height: 15px;
	display: block;
	cursor: pointer;
	margin-left: 45px;
	background: url(../../images/cbutton.png) center center no-repeat;
}

.scrollBtn ul li.selected {
	background: url(../../images/cbutton_hover.png) center center no-repeat
}

.bannerbg {
	width: 1280px;
	height: 18px;
	margin-top: -9px;
	background: url(../../images/banner_bg.png) center center no-repeat;
	position: relative;
	z-index: 20
}
.bannerbgtop {
	width: 1280px;
	height: 17px;
	background: url(../../images/topnavbg.png) center center no-repeat;
	position: relative;
	z-index:10;
	margin: -9px auto 0;
}
.search {
	width: 500px;
	height: 50px;
	position: relative;
	display: block;
	background: url(../../images/searchl.png) center center no-repeat;
}

.bookNo {
	width: 439px;
	height: 48px;
	border: none;
	background: none;
	padding-left: 10px;
	color: #585757;
	font-size:16px;
	line-height: 48px;
}

.button {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	border: none;
	background: none;
	cursor: pointer;
}

.download {
	width: 119px;
	height: 36px;
	display: block;
	background: url(../../images/download_zh_CN.png) center center no-repeat;
	line-height: 36px;
	color: #fff;
	padding-left: 10px;
	margin-top: 10px;
}

.moreInfo {
	position: absolute;
	top: 425px;
	right: 170px;
	width: 272px;
	height: auto;
	z-index: 2;
}

.moreInfo2 {
	position: absolute;
	top: 0px;
	left: 70px;
	width: 272px;
	height: auto;
	z-index: 2;
}

.moreInfo3 {
	position: absolute;
	top: 425px;
	right: 170px;
	width: 272px;
	height: auto;
	z-index: 2;
}

.foot {
	width: 1280px;
	height: 85px;
	background: #fff;
	margin: 0 auto;
	padding: 20px 0 35px 0;
}

.foot p {
	width: 100%;
	height: 22px;
	line-height: 22px;
	color: #595656;
	text-align: center
}

.foot .linkmap {
	height: 32px;
	line-height: 32px;
	width: auto;
}

.foot .linkmap a {
	padding: 0 5px;
	line-height: 32px;
	color: #595656;
	;text-decoration: underline;
}

.foot .linkmap a:hover {
}

.center {
	width: 1280px;
	height: auto;
	margin: 0 auto;
}

.content {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: url(../../images/center.png) repeat-y;
	border-bottom: 1px solid #e8e8e8
}

.content2 {
	width: 100%;
	height: 737px;
	background: url(../../images/login_box.jpg) center top no-repeat;
}

.content3 {
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
}
.content5 {
  width: 100%;
  height: 610px;
  background: url(../../images/apply_succ.jpg) center top no-repeat;
}
.leftMenu {
	border-top: 8px solid #90c31f;
	float: left;
	height: auto;
	margin-top: -8px;
	padding-left: 30px;
	padding-right: 53px;
	padding-top: 40px;
	width: 225px;
	position: relative;
 	z-index: 2;
}

.leftMenu ul li {
	width: 100%;
	height: auto;
}

.leftMenu ul li a {
	display: block;
	width: 100%;
	min-height: 25px;
	line-height: 25px;
	font-size: 16px;
	color: #595656;
	text-align: right;
	padding: 10px 0;
	word-wrap: break-word;
}

.leftMenu ul li li a {
	font-size: 13px;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
}

.leftMenu ul li a:hover,.leftMenu ul li a.selected {
	color: #0167b4;
	cursor: pointer;
}

.rightContent {
	width: 850px;
	min-height: 400px;
	float: right;
	border-top: 8px solid #336dad;
	padding: 29px 60px 40px 62px;
}

.inner dl dd {
	padding-top: 20px;
}

.inner dl dt {
	font-size: 18px;
	color: #595656;
}

.inner dl dt h3 {
	height: 50px;
	line-height: 50px;
	color: #0168b5;
	font-size: 18px;
	text-decoration: underline;
	font-weight: normal;
}

.inner dl dt h6 {
	height: 50px;
	line-height: 50px;
	color: #0168b5;
	font-size: 18px;
	font-weight: normal;
}

.inner dl dt h5 {
	height: 50px;
	line-height: 50px;
	color: #0168b5;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px solid #e8e8e8;
	padding-top: 20px;
	width: 100%;
}

.inner dl dt h3 a {
	color: #0168b5;
	font-size: 18px;
	text-decoration: underline;
}

.inner dl dt h4 {
	height: 40px;
	line-height: 40px;
	color: #0168b5;
	font-size: 18px;
	text-decoration: underline;
	font-weight: normal;
}

.inner dl dt h4 a {
	color: #0168b5;
	font-size: 18px;
	text-decoration: underline;
}

.inner dl dt a {
	text-decoration: underline;
	color: #0168b5;
}

.rightcon h3 {
	height: 50px;
	line-height: 50px;
	color: #0168b5;
	font-size: 18px;
	font-weight: normal;
}

.tablelist {
	padding-top: 15px;
}

.tablelist table {
	width: 100%;
	border: none;
}

.tablelist table thead td {
	text-align: left;
	background: #0167b4;
	color: #fff;
	padding-left: 30px;
}

.tablelist table td {
	height: 47px;
	line-height: 47px;
	text-align: center;
	font-size: 16px;
	background: #e8e8e8;
	border: 1px solid #fff;
}

.rightcon {
	min-width: 400px;
	min-height: 350px;
}

.rightcon h4 {
	height: 80px;
	line-height: 80px;
	color: #0168b5;
	font-size: 18px;
	font-weight: normal;
}

.rightcon h5 {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: normal;
}

.rightcon h5 a {
	color: #0168b5;
	text-decoration: underline;
}

.rightcon p {
	font-size: 14px;
	color: #838080;
	line-height: 30px;
	word-wrap: break-word;
}

.rightcon p.p-info {
	text-indent: 0
}

.rightcon ul li {
	font-size: 16px;
	color: #838080;
	line-height: 30px
}

.rightcon strong {
	padding-right: 10px
}

.rightcon p a {
	text-decoration: underline;
	color: #0167b4;
}

.sitemap {
	margin-top: 15px;
}

.rightcon .sitemap p {
	background: #fff;
	margin-bottom: 15px;
	border-bottom: 1px solid #f5f5f5;
	text-indent: 0em;
}

.sitemap p span {
	color: #595656;
	width: 110px;
	display: inline-block;
	font-size: 16px;
	width: 80%
}

.sitemap p a {
	color: #807e7e;
	margin-right: 35px;
	font-size: 16px;
	display: inline-block;
}

.sitemap p a:hover {
	color: #0167b4
}

.sitemap p .nava {
	font-weight: bold;
	color: #90c31f;
	vertical-align: top;
}

#fieldError {
	color: #FF0000;
}

.bodyer {
	width: 1280px;
	margin: 0 auto;
	min-height: 150px;
	position: relative;
	z-index: 0;
	background: #fff;
}

.title .main {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
	padding-right: 40px;
}

.title .sub {
	padding: 0 10px;
}

.title .sub a {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.title .sub a.on,.title .sub a:hover {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #FF6600;
}

.inner {
	width: 100%;
	height: auto;
}

.content .inner p {
	text-indent: 25px;
	line-height: 30px;
	font-size: 16px;
	color: #838080;
}

.content .model {
	border: 1px solid #CCCCCC;
	margin: 20px;
	min-height: 200px;
}

.content .model h3 {
	border-bottom: 1px solid #CCCCCC;
	text-indent: 30px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.content .model .model {
	border: 1px solid #CCCCCC;
	margin: 20px 0;
	min-height: 200px;
}

.content .model .model h3 {
	border-bottom: 1px solid #CCCCCC;
	background: #ccc;
	text-align: left;
	text-indent: 30px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.content .fqa {
	margin: 25px 0;
}

.content .fqa p {
	padding: 5px 0;
	line-height: 25px
}

.content .fqa strong {
	width: 100px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	line-height: 20px
}

.content .fqa span {
	display: inline-block;
	word-break: break-all;
	width: 78%;
	text-indent: 0em;
	line-height: 20px;
	vertical-align: top;
}

.content .list {
	padding-bottom: 50px;
	width: 100%;
}

.content .list dt a {
    color: #0168b5;
    display: block;
    font-size: 18px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .list dt span {
    color: #b6b6b6;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding-bottom: 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .list dd p {
	color: #595656;
}

.content .ref {
	text-align: center;
}

.content .txt {
	text-align: left;
	text-indent: 20px;
	padding: 10px 5px
}

.index-content {
	padding-top: 40px;
	border-right: 1px solid #888;
	width: 730px;
	overflow: hidden;
	float: left;
	margin-bottom: 20px;
}

.index-content .flash {
	height: 370px;
	width: 730px;
	position: relative;
	z-index: 3;
}

.index-content .banner {
	text-align: center;
	width: 730px;
	background: #606F76;
	height: 43px;
	line-height: 43px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #FFFFFF;
}

.index-content .banner span {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #F68F30;
}

.index-model {
	position: relative;
	float: left;
	width: 220px;
	margin: 20px 20px 0 0;
}

.index-model a.more,.mores {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #606F76;
	position: absolute;
	right: 10px;
	top: 5px;
}

.index-model a.more:hover,.mores:hover {
	color: #FF6600;
	text-decoration: none;
}

.index-model h3 {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.index-model .inner {
	padding: 15px 0;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.index-model ul li {
	border-bottom: 1px dotted #ccc;
}

.index-model ul li a {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.index-model ul li a:hover {
	color: #FF6600;
}

.index-side {
	float: left;
	width: 266px;
	display: inline;
}

.index-side h3 {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
	text-indent: 15px;
}

.index-side .inner {
	padding: 12px 0 12px 12px;
}

.index-search {
	padding: 20px 0 20px 0px;
}

.index-search .text {
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	width: 180px;
}

.index-search .button {
	border: 1px solid #ccc;
	height: 30px;
	width: 45px;
}

.index-about a {
	padding-right: 30px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333;
}

.index-about a:hover {
	color: #FF6600;
}

.index-download {
	background: url("../../images/download-bg.png") no-repeat scroll 200px 0px
	#F2F2F2;
	border: 1px solid #ccc;
	border-left: none;
	padding: 10px 0;
	text-align: center;
	margin: 0 0 18px 0;
}

.index-download a {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.index-news {
	padding: 20px 0 0px 0px;
}

.index-news ul li {
	border-bottom: 1px dotted #ccc;
	padding: 5px 0;
}

.index-news ul li a:hover {
	color: #FF6600;
	text-decoration: none;
}

.login-content {
	position: relative;
	background: url("../../images/login_conte.png") center bottom no-repeat;
	height: 450px;
	width: 1120px;
	padding-top: 85px;
	margin: 0 auto;
}

.login-content .txt1 {
	position: absolute;
	left: 171px;
	top: 280px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.login-content .txt2 {
	position: absolute;
	left: 290px;
	top: 345px;
	padding: 10px 65px;
	background: #B5B5B5;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #000000;
}

.login-pannel {
	position: absolute;
	border:1px solid #e0e0e0;
	background-color: #fff;
  	box-shadow: 1px 1.732px 6px 0px rgb( 228, 231, 235 );
    left: 40px;
    top: 120px;
  	width: 420px;
 	height:355px;
}

.login-pannel .login-main {
	border: 1px solid #ccc;
	background: #F2F2F2;
	padding: 25px;
}

.login-pannel .login-footer {
	height: 50px;
	background: url("../../images/table-bg.png") repeat scroll 0 -10px
	rgba(0, 0, 0, 0);
	padding: 0 25px;
}

.login-pannel h3 {
	height: 62px;
	border-bottom: 1px solid #e6e7e7;
	line-height: 62px;
	color: #514e4e;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
	padding-left: 10px;
}

.login-pannel ul li {
	height: 40px;
	width:340px;
	margin-bottom: 17px;
	position: relative;
	border-bottom: 1px solid #ccc;
}
.login-pannel ul .dong-d{
	border:none;
	height:50px;
	margin-top:40px;
}
.loginlink{text-align: center;}
.login-pannel .text {
	height: 32px;
	line-height: 32px;
	border: none;
	width: 268px;
	font-size:16px;
}


.login-pannel .vcode {
	width: 253px;
}

.login-pannel .refresh {
	cursor: pointer;
	height: 28px;
	border: none;
	width: 28px;
	background: url("../../images/refresh.png") no-repeat;
	display: block;
}

.login-pannel ul li .ico {
	color: #999999;
	left: 10px;
	line-height: 16px;
	position: absolute;
	top: 8px;
	width: auto;

}

.login-pannel .errormsg {
	display: none;
}

.login-pannel .errormsg span {
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #FF0000;
}

.step .step-item {
	clear: both;
	width: 100%;
}

.step .step-item {
}

.step .step-item ul li {
	float: left;
}

.step .step-item ul li span {
	width: 100%;
	text-align: center;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #65625c;
	height: 65px;
	display: block;
	background: #fff url(../../images/apply1.png) left center no-repeat;
	/*border-left: 1px solid #ddd;*/
	line-height: 65px;
}

.step .step-item ul li span.current {
	background: #0168b5;
	color: #fff;
}

.step .step-content {
	clear: both;
}

.step .apply-success {
	clear: both;
	background: url("../../images/success.png") no-repeat scroll 20px 95px
	rgba(0, 0, 0, 0);
	padding: 90px 0 0 75px;
	line-height: 25px;
	width: 500px;
	margin-left: 180px;
	text-align: left;
}

.opreation {
	width: auto;
	height: 31px;
	margin: 40px 0 0 150px;
}

.opreation .btn {
	cursor: pointer;
	border: none;
	background: none;
	text-align: center;
	line-height: 31px;
	width: 99px;
}

.opreation .current,.opreation .on {
	background: url(../../images/denglu_zh_CN.png) no-repeat;
	color: #fff;
}

.form {
}

#register_company_license_note {
	width: 250px;
	height: 31px;
}

.form li {
	margin-bottom: 10px;
}

.form li textarea {
	width: 250px;
	height: 31px;
}

.form li label {
	width: 210px;
	line-height: 25px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	color: #8c8a87;
	font-size: 16px;
}

.form li label.requiredfield span {
	color: #0168b5;
	line-height: 30px;
	padding-right: 5px;
}

.form li input,.form li select {
	width: 220px;
	height: 25px;
}

.form li .chk {
	width: 20px;
	vertical-align: middle;
}

.feedback {
	background: url("../../images/feedback.png") no-repeat 0 0;
	background-color: #f2f2f2;
}

.feedback table tr td {
	padding: 15px 0;
}

.feedback table tr td input {
	width: 260px;
	height: 30px;
}

.feedback table tr td .btn {
	cursor: pointer;
	width: auto;
	border: 1px solid #606F76;
	padding: 10px 25px;
	line-height: 30px;
	border-radius: 5px;
	background: #606F76;
	color: #FFFFFF;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #FFFFFF;
}
/*2014-01-16*/
.index-foo {
	clear: both;
	width: 100%;
	border-top: 1px solid #888;
	overflow: hidden;
	padding: 30px 0;
}

.info-d,.info-link {
	width: 390px;
	float: left;
}

.info-link {
	width: 540px;
}

.info-mes {
	display: block;
	width: auto;
	float: left;
	height: 68px;
	line-height: 68px;
	padding: 0 5px;
	background: #eee;
	border: 1px solid #ddd;
	font-size: 14px;
}

.info-h3 {
	width: 104px;
	float: left;
	font-weight: normal;
	font-size: 18px;
	background: #ddd;
	color: #666;
	text-align: center;
	line-height: 1.4;
	padding: 10px 0;
}

.contact-ul {
	width: auto;
	float: left;
	font-size: 16px;
	color: #666;
}

.contact-ul li {
	margin-left: 15px;
	height: 35px;
	line-height: 35px;
	position: relative;
}

.tel-ico {
	display: block;
	width: 29px;
	height: 21px;
	background: url("../../images/info-tel.png") no-repeat;
	position: absolute;
	margin-top: -10px;
	top: 50%;
	left: 2;
}

.mail-ico {
	display: block;
	width: 29px;
	height: 21px;
	background: url("../../images/info-mail.png") no-repeat 2px 0;
	position: absolute;
	margin-top: -10px;
	top: 50%;
	left: 2;
}

.info-text {
	float: left;
	display: inline-block;
	margin-left: 35px;
}

.info-h3M {
	display: inline-block;
	margin-left: 15px;
}

.link-ul {
	width: 420px;
	float: left;
	font-size: 16px;
	color: #666;
}

.link-ul li {
	float: left;
	display: inline;
	width: 193px;
	margin-left: 15px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
}

.link-ul li a {
	display: block;
	background: #F3F3F3;
}

.link-ul li a:hover {
	background: #fff;
}

.link-ul li.li-m {
	margin-top: 5px;
}

.link-ico1,.link-ico2,.link-ico3,.link-ico4 {
	display: block;
	float: left;
	width: 29px;
	height: 26px;
	background: url("../../images/link-ico1.png") no-repeat;
	margin: 3px 3px 0;
}

.link-ico2 {
	background: url("../../images/link-ico2.png") no-repeat;
}

.link-ico3 {
	background: url("../../images/link-ico3.png") no-repeat;
}

.link-ico4 {
	background: url("../../images/link-ico2.png") no-repeat;
}

.contentBg {
	background: #f2f2f2;
}

.model-s {
	margin: 20px;
	min-height: 200px
}

.til-top {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	overflow: hidden;
}

.f-ld {
	width: 40%;
	float: left;
}

.f-lds {
	width: 50%;
	float: left;
}

.til-h3,.inmpr-h4,.rul-d {
	padding-right: 8px;
	color: #595656;
}

.info-MPR,.mpr-lists {
	margin-top: 30px;
}

.mpr-lists {
	background: #fff;
	width: 724px;
}

.inmpr-h4 {
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 0 5px;
}

.inmprNo {
	font-weight: normal;
	color: #666;
	margin-left: 10px;
}

.inmprNo i {
	font-style: normal;
	color: #FF6600;
}

.ul-clist {
	width: auto;
	overflow: hidden;
}

.ul-clistF {
	width: auto;
}

.ul-clist li {
	float: left;
	display: inline-block;
	width: 167px;
	padding-bottom: 15px;
	margin-right: 12px;
}

.ul-clist li  img {
	width: 167px;
}

.p-info {
	height: 24px;
	line-height: 24px;
	margin-top: 3px;
	color: #333;
}

.span-info {
	display: block;
	color: #999;
	line-height: normal;
}

.page-s {
	clear: both;
	margin: 20px 0;
	height: 30px;
}

.table-d {
	width: 100%;
	text-align: left;
}

.table-d th {
	background: #0167b4;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #fff;
	text-align: left;
	height: 46px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}

.table-d tbody tr {
	background: #e8e8e8;
	height: 46px;
	border-bottom: 1px solid #fff;
}

.table-d tbody tr td {
	font-size: 16px;
}

.table-d th,.table-d td {
	padding-left: 5px;
	text-align: left;
}

.cor-1 {
	color: #0367BD;
}

.line-d {
	width: 100%;
	height: 1px;
	border-top: 1px solid #ccc;
	margin-top: 20px;
}

.rul-list {
	line-height: 1.8;
}

.a-lists {
	display: block;
}

.cor-2 {
	color: #FF5200;
}

.rul-d {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 0 0 10px 0;
}

.rul-ds,.mt-20 {
	margin-top: 20px;
}

.rul-list2 {
	margin: 10px 0;
	padding: 15px 0 0 0;
}

.mm-20 {
	margin-bottom: 20px;
}

.table-feed {
	padding: 34px;
	border: 1px solid #ccc;
	display: block;
	overflow: hidden;
	background: #FFF;
}

.content .inner-feed {
	padding: 35px;
}

.table-l {
	width: 50%;
	float: left;
}

.table-r {
	width: 45%;
	float: right;
}

.content p.info-tab {
	text-indent: 0;
	color: #333;
	line-height: normal;
}

.content p.info-tabs {
	color: #606F76;
}

.fb-list {
	width: 80px;
	float: left;
	color: #606F76;
	text-align: right;
	margin-right: 35px;
	display: inline-block;
}

.fb-list span {
	padding-right: 13px;
}

.cor-2 {
	color: #FF0000;
}

.table-l li {
	margin: 30px 0;
}

.table-feed input,.table-feed textarea {
	border: 1px solid #ABADB3;
}

.table-feed input {
	height: 24px;
	line-height: 24px;
	width: 300px;
}

.table-feed textarea {
	width: 368px;
	height: 170px;
	overflow: auto;
	margin-top: 30px;
}

.table-feed .btn-on {
	display: block;
	height: 40px;
	border: none;
	background: #606F76;
	color: #fff;
	text-align: center;
	width: 130px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	margin: 20px 0 0 0;
	cursor: pointer;
}

.table-feed .btn-on:hover {
	background: #435760;
}

.info-mes1 {
	width: 100%;
	display: block;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background: #ECECEC;
	border: 1px solid #D7D7D7;
}

.info-mes1:hover {
	background: #D6D6D6;
}

.index-side .inner-ds {
	padding-bottom: 0;
}

.lsit-a {
	float: right;
	overflow: hidden;
	line-height: normal;
}

.lsit-a a {
	display: block;
	float: left;
	background: #f2f2f2;
	font-size: 20px;
	line-height: normal;
	color: #444;
	margin: 0 0 0 15px;
}

.info-h3s {
	width: auto;
	font-size: 14px;
	padding: 3px 10px;
}

.title-down {
	position: relative;
}

.down-note {
	position: absolute;
	bottom: 10px;
	right: 0;
	width: auto;
	height: 28px;
	height: 28px;
	border: 1px solid #ddd;
	background: #F2F2F2;
	display: block;
	width: 180px;
	padding-left: 30px;
	color: #555;
}

.down-note:hover {
	background-color: #E3E0E0;
}

.down-ico1 {
	position: absolute;
	top: 0;
	right: 10px;
	display: block;
	width: 30px;
	height: 33px;
	background: url("../../images/download-b2g.png") no-repeat;
}

.contact-other {
	clear: both;
	margin-top: 40px;
	width: 100%;
	border-top: 1px solid #ddd;
}

.clear {
	clear: both;
	height: 0;
	margin: 0;
}

.content .inner p.cono-d {
	text-indent: 0;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 0 0 20px;
}

.other-mail {
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 20px;
	overflow: hidden;
	margin: 20px 0 0 0;
	font-size: 14px;
}

.icon-dm {
	width: 51px;
	height: 35px;
	line-height: 35px;
	display: block;
	background: url("../../images/email-big.png") no-repeat;
	float: left;
	margin-right: 10px;
}

.dong-ds,.dong-d {
	overflow: hidden;
}

.dong-d span {
	width: auto;
	float: left;
}

.dong-ds span,.dong-ds input {
	float: left;
}

.login-pannel .ok-btn {
	width: 130px;
	padding: 0 7px;
	height: 25px;
	line-height: 25px;
	font-size:15px;
}

.login-pannel .ok-btn {
	width: 64px;
}

.inner-ser {
	overflow: hidden;
}

.inner-ser input {
	float: left;
}

.inner-ser .text {
	padding-left: 5px;
}

.inner-ser .button {
	background: #F7921E;
	font-size: 14px;
	color: #fff;
	height: 32px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-left: -1px;
	cursor: pointer;
}

.index-news {
	position: relative;
}

.index-news .mores {
	top: 23px;
}

.mar-tab {
	margin: 20px 0 20px 40px;
}

.mar-tab,.mar-tab td {
	border: 1px solid #ccc;
}

.mar-tab td,.mar-tab th {
	padding: 3px 10px;
}

.mar-tab td {
	color: #009999;
}

.img-mod {
	display: block;
	margin: 10px 0 10px 40px;
}
	
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
	overflow: hidden;
}

.clearfix {
	zoom: 1;
 /* IE < 8 */
}

.linkl {
	width: 1280px;
	height: 50px;
	background: #fff;
	margin: 0 auto;
	line-height: 50px;
}

.linkl li {
	width: auto;
	line-height: 50px;
	height: 50px;
	text-align: center;
	float: left;
}

.linkl li a {
	height: 25px;
	margin-top: 13px;
	line-height: 50px;
	padding: 0 20px;
	color: #fff;
}

.linkl li a:hover {
	color: #f60;
}

.linkl li a.nohover:hover {
	color: #fff;
}

.left {
	width: 180px;
	height: auto;
	float: left;
}

.right {
	width: 800px;
	float: right;
	margin-top: 30px;
}

.left ul {
	padding-top: 20px;
}

.left ul li {
	padding: 8px 0;
}

ul li a.selected {
	color: #ff6600;
}

.questions {
	padding-top: 75px;
	width: 640px;
}

.questions dt {
	font-weight: bold;
}

dd.sorta a {
	float: left;
	display: block;
	width: 125px;
	text-align: left;
}

.login-pannel .on {
	border: none;
	background:#0168b5;
	width: 340px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	border-radius: 0;
	padding: 0;
	cursor: pointer;
	font-size:16px;
}

.login-pannel .apply {
	color: #505050;
	font-size:16px;
	margin-left: -21px;
}

.whyMem {
	position: absolute;
	right: 40px;
	top: 105px;
	width: 550px;
}

.whyMem h3 {
	height: 62px;
	line-height: 62px;
	font-size: 18px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-weight: normal;
	padding-bottom: 18px;
}

.whyMem p {
	font-size: 16px;
	color: #9c9b9c;
	line-height: 29px;
	padding-bottom: 50px;
}

.whyMem h4 {
	height: 23px;
	line-height: 23px;
	text-align: right;
	font-size: 24px;
	color: #505050;
	font-weight: normal;
}

.whyMem h5 {
	height: 33px;
	line-height: 33px;
	text-align: right;
	font-size: 15px;
	color: #505050;
}

.apply_box {
	width: 1030px;
	height: 656px;
	margin: 0 auto;
	padding-top: 36px;
	background: url(../../images/apply_box.png) center bottom no-repeat;
	position: relative;
}

#apply2,#apply3 {
	position: absolute;
	right: 65px;
	top: 155px;
	width: 380px;
}

.step-content {
	position: absolute;
	top: 145px;
	left: 60px;
	padding: 0;
	width: 325px;
}

.step-content h4 {
	font-size: 16px;
	color: #595656;
}

.step-content p {
	font-size: 16px;
	color: #7f7e7f;
	line-height: 30px;
}

.step-item {
	width: 100%;
	height: 65px;
}

.step-item h3 {
	width: 233px;
	float: left;
	padding-left: 60px;
	line-height: 65px;
	color: #015899;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.step .step-item ul li {
	width: 179px;
	height: 65px;
}

#apply2 {
	width: 472px;
	top: 113px;
}

#apply3 {
	width: 490px;
	top: 125px;
	right: 40px;
}

#apply2 h3,#apply3 h3 {
	color: #595656;
	padding-top: 15px;
	font-size: 16px;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #c5cbd2;
	margin-bottom: 21px;
}

#apply3 h4 {
	color: #8c8a87;
	padding-top: 15px;
	font-size: 16px;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	width: 180px;
	text-align: right;
}

#apply2 .form li label {
	width: 100px;
}

#apply3 .form li label {
	width: 180px;
}

.opreation .rele {
	background: url(../../images/rele.png);
	width: 161px;
	color: #fff;
	margin-right: 30px;
}

#apply2 .opreation {
	margin: 17px 0 0 115px;
}

#apply3 .opreation {
	margin: 17px 0 0 180px;
}

.apply-success p {
	line-height: 30px;
	font-size: 16px;
	color: #64615b;
}

.ref {
	height: 25px;
	line-height: 25px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.ref span {
	color: #b6b6b6;
	font-size: 16px;
	float: left;
}

.rightcon h3.title {
	height: auto;
	line-height: 30px;
	padding: 0;
}

.rightcon h3 {
	line-height: 50px;
	color: #0168b5;
	font-size: 18px;
	font-weight: normal;
}

.textcon img {
	max-width: 712px;
	width: auto;
}

.textcon p {
	color: #595656;
}

.textcon a.more {
	width: 100%;
	height: 33px;
	line-height: 33px;
	display: block;
	padding-top: 60px;
	font-size: 16px;
	color: #0168b5;
}

.tablelist {
	padding-top: 15px;
}

.tablelist table {
	width: 100%;
	border: none;
}

.tablelist table thead td {
	text-align: left;
	background: #0167b4;
	color: #fff;
	padding-left: 30px;
}

.tablelist table td {
	height: 47px;
	line-height: 47px;
	text-align: center;
	font-size: 16px;
	background: #e8e8e8;
	border: 1px solid #fff;
}

.rightcon h4 {
	height: 80px;
	line-height: 80px;
	color: #0168b5;
	font-size: 18px;
	font-weight: normal;
}

.rightcon h5 {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: normal;
}

.rightcon h5 a {
	color: #0168b5;
	text-decoration: underline;
}

.rightcon p {
	font-size: 15px;
	color: #838080;
	line-height: 30px;
	word-wrap: break-word;
	text-indent: 2em;
}

.rightcon p.p-info {
	text-indent: 0
}

.rightcon ul li {
	font-size: 16px;
	color: #838080;
	line-height: 30px
}

.rightcon strong {
	padding-right: 10px
}

.rightcon p a {
	text-decoration: none;
	color: #0167b4;
}

.search_box {
	background: url(../../images/search.jpg) center center no-repeat;
	width: 1280px;
	height: 646px;
}

.model-sea {
	width: 1025px;
	height: 646px;
	margin: 0 auto;
	padding-top: 25px;
}

.model-sea h3 {
	height: auto;
	line-height: 40px;
	padding-left: 60px;
	padding-top: 20px;
	color: #0168b5;
	font-size: 18px;
	font-weight: normal;
}

.model-sea .h4 {
	font-size: 16px;
	padding-top: 44px;
	height: 43px;
	line-height: 43px;
	padding-left: 60px;
	padding-bottom: 24px;
}

.model-sea .rul-list {
	padding-left: 60px;
	line-height: 30px;
	font-size: 16px;
}

.model-sea .rul-list a {
	color: #7f7e7f;
	text-decoration: underline;
}

.model-sea .rul-list img {
	padding-right: 30px;
}

.searchlist {
	width: 1020px;
	height: 335px;
}

.jscroll-e {
	background: #f4f6f9;
	width: 8px;
}

.jscroll-h {
	background: #b1b1b1;
	width: 8px;
	-moz-border-radius: 15px;
      /* Gecko browsers */
	-webkit-border-radius: 15px;
   /* Webkit browsers */
	border-radius: 15px;
            /* W3C syntax */
}

.pageBox {
	width: 100%;
	height: 24px;
	text-align: center;
}

.pageBox span {
	color: #666;
}

.pageBox input {
	height: 20px;
	border: 1px solid #999;
}

.pageBox p {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #666;
}

.pageBox p b {
	color: #2266bb;
}

.pageBox a {
	min-width: 25px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin: 0 2px;
	border: 1px solid #999;
	display: inline-block;
	color: #666;
	cursor: pointer;
	padding: 0 5px;
}

.pageBox a.selected,
.pageBox a:hover {
	background: #2266bb;
	color: #fff;
}

.pageBox .short {
	width: 26px;
	padding: 0 5px;
}

.pageBox .long {
	width: 48px;
}



/**妫�储椤�*/
.content4 {
	background: #fff url(../../images/bbg.jpg) no-repeat center bottom;
	border-top: 1px solid #006FC4;
}

.content4 h3 {
	width: 1258px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	margin: 0 0 20px 0;
	font-size: 14px;
	float: left;
	border-left: 2px solid #00A0E9;
	background: #f0f0f0;
}

#search2 {
	background-image: url(../../images/searchl.png);
	margin: 0 auto;
	width: 500px;
	height:50px;
}

.searchbox {
	margin: 0 auto ;
	width: 1280px;
	height: 110px;

}

#search2 .bookNo {
	width: 439px;
	height:50px;
	font-size: 16px;
}
#search2  .button{
	width:50px;
	height:50px;
}

.errortip {
	color: #f00;
	text-align: left;
	height: 30px;
	width: 100%;
	margin: 0 auto;
	padding-top: 5px;
}

.moreInfo .errortip {
	width: 100%;
}

.guide-content div {
	margin: 10px;
	width: 310px;
	display: inline-block;
	margin: 10px 60px 0 200px;
	*float:left;
}

.analysis-content,.search-content {
	position: relative;
	background-color:#ffffff; 
	width: 1280px;
	min-height:600px;
}

.guide-content {
	position: relative;
	height: 398px;
	width: 100%;
	padding-top: 120px;
	padding-bottom: 90px;
	margin: 0 auto;
}


.analysis-content p {
	text-align: right;
	height: 60px;
	line-height: 60px;
	margin:20px 60px 0;
	color: #808080;
	font-size: 14px;
}
.analysis-content p a{
	float: left;
	color: #528de5
}

.sresult {
	width:1235px;
	margin: 0 auto 68px;


}
#islicode>div{
	border:1px solid #dbdfe7;
	margin: 0 38px 20px;
}

.sresult h5 {
	font-size: 14px;
	color: #5c5b5b;
	line-height: 1;
	margin:50px 0 10px 19px;
	text-indent:15px;
	font-weight:bold;
	border-left:6px solid #90c31f;
}
.sresult table{
	width: 1085px;
	margin:0 auto;

}
.sresult table tr{
	border-bottom:1px dashed #ccc;
}
.sresult table tr:last-child{
	border:none;
}
.sresult td,.sresult th{
	border-collapse: collapse;
	color: #5c5b5b;
	font-size:14px;
	padding: 10px 0;
	font-weight:normal;
}
.sresult th{
	text-align: right;
	padding-right: 15px;
	width: 142px;
}
.sresult td{
	text-align: left;
	width: 927px;
}
.sresult td a{
	color: #528de5
}

.search-content p{
	text-align: left;
	height: 20px;
	line-height: 20px;
	margin:20px 50px 0;
	color: #808080;
	text-indent: 10px;
	font-size: 14px;
}
.search-content p span{
	margin:0 10px;
    color: red;
}
.search-list{
	width: 1160px;
	margin:0 60px;
}
.search-list .search-item{
	padding-bottom:24px;
	border-bottom: 1px solid #dbdfe7;
	height:80px;
}
.search-list .search-item:last-child{
	border:none;
}
.search-item a{
	font-size: 15px;
	color: #565656;
	line-height: 1;
	font-weight:bold;
	margin: 40px 0 20px 0;
    display: block;
}
.search-item p{
	text-align: left;
	height: 25px; 
	line-height: 25px;
	margin: 0; 
	color: #5c5b5b;
	text-indent: 0px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.search-item p span{
	color: #e8551b
}

.search-item:hover{
	/* background-color: #f5fbfe */
}
.search-item:hover a{
	color: #2e84e7;
}

.contain {
	width: 90%;
	padding: 0 5% 10px;
}

.processBox {
	width: 728px;
	height: 68px;
	padding: 30px 0;
	margin: 0 auto;
}

.processBox ul li {
	width: 182px;
	height: 80px;
	float: left;
}

.processBox ul li a {
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	display: block;
	background: url(../../images/process_bg.png) no-repeat;
}

.processBox ul li p {
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 18px;
	color: #ccc;
	font-weight: bold;
}

.processBox ul li.selected p {
	color: #7fbf5a;
}

.processBox ul li.selected a {
	background: url(../../images/process_bg_hover.png) no-repeat;
}

.processBox ul li a:hover {
	text-decoration: none;
}

.regisBox {
	padding: 10px 0 0 0;
	width: 1004px;
	min-height: 500px;
	margin: 0 auto;
}

.regisBox h3 {
	width: 980px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	margin: 10px 0 20px 0;
	font-size: 14px;
	float: left;
	border-left: 2px solid #00A0E9;
	background: #F5F5F5;
}

.regisBox dl dt {
	width: 180px;
}

.regisBox dl dd label {
	height: 24px;
	line-height: 24px;
	display: inline-block;
	margin-right: 10px;
}

.regisBox dl dd input {
	margin-right: 15px;
	border-radius: 4px;
}

.regisBox dl dd input[type=text] {
	width: 250px;
	border-radius: 0;
}

.regisBox dl dd input[type=button] {
	height: 24px;
	line-height: 24px;
	border: none;
	background: #0d72bf;
	color: #fff;
	font-size: 12px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	cursor: pointer;
}

.regisBox dl dd input[type=radio] {
	margin: 0;
}

.regisBox dl dd input.width35{width:35px;margin-right:0;}
.regisBox dl dd input.width190{width:190px;}
.submitApplyBox {
	width: 520px;
	margin-left: -260px;
	height: 220px;
	margin-top: -110px;
}

.submitApplyBox p {
	line-height: 28px;
	padding: 15px 20px;
}

.detailBox {
	width: 92%;
	height: auto;
	padding-left: 8%;
}

.detailBox dl {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	float: left;
	margin-left: 20px;
}

.detailBox dl dt,.detailBox dl dd {
	height: auto;
	line-height: 24px;
	font-size: 13px;
	float: left;
}

.detailBox dl dt {
	width: 170px;
	text-align: right;
	color: #333;
}

.detailBox dl dd,.detailBox dl dd input,.detailBox dl dd select {
	padding-left: 10px;
	color: #666;
}

.detailBox dl dd select {
	height: 22px;
	margin-right: 5px;
	border: 1px solid #ddd;
}

.detailBox dl dd .adpic input {
	width: 195px;
}

.detailBox dl dd input {
	height: 22px;
	line-height: 22px;
	padding-right: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.detailBox dl dd input[type=radio] {
	border: 0;
	vertical-align: top;
}

.detailBox dl dd textarea {
	padding: 5px 10px;
	border: 1px solid #ddd;
	font-size: 12px;
	color: #666;
}

.detailBox dl dt span {
	padding-right: 5px;
	color: #f00;
}

.detailBox dl dd input.submit {
	width: 94px;
	height: 32px;
	line-height: 32px;
	background: #0d72bf;
	border: 1px solid #0d72bf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	color: #fff;
}
.detailBox .createtushuli dd{
	font-size:0
}
.regisBox .createtushuli dd input{
	float:left;
}
.detailBox dl dd input.reset,.detailBox dl dd input.return {
	height: 32px;
	line-height: 32px;
}
/****/
.boomBox {
	padding: 10px;
	border: 1px solid #e9e9e9;
	background: #fff;
	-moz-box-shadow: 3px 3px 5px #ccc;
	-webkit-box-shadow: 3px 3px 5px #ccc;
	box-shadow: 3px 3px 5px #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	display: none;
}

.boomBox h5 {
	width: 90%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #555;
	margin-left: 35px;
	border-bottom: 1px dashed #ddd;
}

.boombg {
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	display: none;
}

.accountImg {
	width: 600px;
	height: 350px;
	margin-left: -300px;
	margin-top: -175px;
}

.accountImg img {
	margin: 0 auto;
	display: block;
}
/***/

.guide-content div img,.guide-content div span,.guide-content div a {
	display: block;
	text-align: center;
}

.guide-content div span {
	margin: 20px 0;
	font-size: 20px;
	color: #333333;
}

.guide-content div a {
	color: #fff;
	font-weight: bold;
	background: #A0CB4E;
	width: 65%;
	margin: 0 auto;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
}

.guide-content div a:hover {
	background: #8BB240;
}

.centerButton {
	margin: 0 auto;
	text-align: center;
	padding: 15px 0;
	clear: both;
}

.submitApply {
	height: 24px;
	line-height: 24px;
	border: none;
	background: #0d72bf;
	color: #fff;
	font-size: 12px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	cursor: pointer;
	padding: 0 13px;
	border-radius: 4px;
}

/** **/
.detailBox dl dd input.submit {
	width: 94px;
	height: 32px;
	line-height: 32px;
	background: #0d72bf;
	border: 1px solid #0d72bf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	color: #fff;
}

.detailBox dl dd input.reset,.detailBox dl dd input.return {
	height: 32px;
	line-height: 32px;
}
/**/
.submitBox {
	width: 100%;
	height: 32px;
}

.submitBox input {
	width: 94px;
	height: 32px;
	margin-right: 25px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-family: Microsoft YaHei,mingliu,Arial,Helvetica,sans-serif;
	cursor: pointer;
}

.submit {
	background: #0d72bf;
	border: 1px solid #0d72bf;
	color: #fff;
}

.texttip {
	margin-left: 77px;
	display: inline-block;
}

/*******/
.navtitle {
	height: 60px;
	line-height: 60px;
	color: #0168b5;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	padding-left: 15px;
}

.showinfo {
	width: 260px;
	text-align: center;
	display: inline-block;
	margin: 30px 0 0px 15px;
}

.logoimg {
	background: #fff;
	border: 1px solid #ccc;
	height: 100px;
	margin: auto
}

.logoimg img {
	height: 100px;
	width: 255px;
}

.showinfo span {
	display: block;
	width: 100%;
	line-height: 25px;
	color: #000;
}

em {
	font-style: normal;
	padding-left: 20px;
}

.mt15 {
	margin-top: 15px;
}

.mt25 {
	margin-top: 25px;
}

.mt35 {
	margin-top: 35px;
}
.mb35 {
	margin-bottom: 35px;
}
.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.pl30 {
	padding-left: 30px;
}

.left {
	float: left;
}
.icon {
	width: 20px;
	height: 20px;
	display: inline-block
}
.icon_username {
	background: url(../../images/icon_user.png) no-repeat 0 center;
	position: absolute;
	left: 4px;
	top: 6px;
	display:none;
}

.icon_password {
	background: url(../../images/icon_pw.png) no-repeat 0 center;
	position: absolute;
	left: 4px;
	top: 6px;
	display:none;
}
/***/
.complainbox{
	margin:0 auto;
	position: relative;
	text-align:left;
}
.complainbox .title{
	width: 100%;
	margin:0 auto;
	text-align: center;
	font-size: 18px;
	color: #000; 
	padding:35px 0;
	text-indent: 0;
}
.complainbox label{
	width:75px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: right;
	margin: 0 0 0 15px;
	vertical-align: top;
	color: #000;
}
.complainbox label span{
	color:#f00;
}
.complainbox input,.complainbox select{
		width:280px;
		height: 30px;
		line-height: 30px;
		border:1px solid #b2b2b2;
		display: inline-block;
		font-size: 13px;
		outline: none;
		margin-right:20px;
		background: #fff;
		
}
.complainbox select{
	height:auto\0;
	line-height:1
}
.complainbox select option{
	height:30px;
}
.complainbox .complaintext{
	width:680px;
	height: 330px;
	margin: 15px 0;
	line-height: 30px;
	resize:none;
	outline: none;
	 font-size: 14px;
	border:1px solid #b2b2b2;
}
.complainbox .addfile,.complainbox .addbtn{
	position: absolute;
	width: 50px;
	height: 30px;
	right: 0px;
	top:1px;
	line-height: 30px;

}
.complainbox .addfile{
	font-size: 21px;
    overflow: hidden;
	z-index:1;
	opacity: 0;
	filter:alpha(opacity=0);
}
.complainbox .addbtn{
	top:1px;
	z-index: 0;
	background-color:#0079d0;
	color: #fff;
	text-align: center;
	right:20px;
}
.complainbox .submit{
	width:127px;
	height: 42px;
	display:block;
	margin: 0 auto;
	text-align: center;
	background-color: #90c320;
	color: #fff;
	border:none;
	font-size: 16px;
	line-height: 42px;
	border-radius: 3px;
}
/***feedback****/
.popup{
   width:373px;
   height:208px;
   border:1px solid #bababa;
   position:fixed;
   top:50%;
   left:50%;
   margin:-105px 0 0 -190px;
   background:#2e8dd5;
   z-index:999;
   display:none;
  }
 .popup .poptit{
 	height:28px;
 }
 .popup .poptit .close{
 	height:15px;
 	width:15px;
 	display:block;
 	background:url("../../images/sprite.png") no-repeat 0 -42px;
 	float:right;
 	margin:10px;   	
 } 
 .popup .popcont .icon{
 	width:43px;
 	height:43px;
 	background:url("../../images/sprite.png") no-repeat 0 0;
 	margin: 19px 0px 0px 76px;  
 }
 .popup .popcont{
  font-size:16px;
  color:#fff;
  height:110px;	     
 }
 .popup .popcont p{
    width: 213px;
    float: right;
    margin-top:12px;     
 }
 .popfooter{
 	height:70px;
 	background:#fff;   
 }
.popfooter .submit{ 
	width:110px;
	height:38px;
	background:#a0cb4e;
	line-height:38px;
	font-size:14px;
	color:#fff;
	display:block;
    text-align:center;
	border:none;
    float: left;
    margin: 15px 125px;
    border-radius: 3px;
}
.popbg{
	width:100%;
	height:100%;
	position:fixed;
	background:#000;
	opacity:0.2;
	filter:alpha(opacity=20);
	top:0;
	left:0;
	z-index:998;
	display:none;
}

/*  */
.findpassword{
	width: 100%;
	height: 600px;
	background: #fff;
	border-top:1px solid #4093d3;
}
.findbox{
	width: 980px;
	height: 540px;
	border:1px solid #e8e8e8;
	margin:25px auto;
}
.findstep{
	border-bottom:1px solid #e8e8e8;
	padding-top:10px; 
	height: 150px;
	background:url(../../images/findbg.jpg);
}
.findstep .tips{
	color: #454749;
	font-weight:bold;
	margin:0 0 0 20px;
	padding:0 0 0 28px;
	background:url(../../images/tipsicon.png) no-repeat left center;
}
.errortips{
	background:#fdf6f1;
	border-bottom:1px solid #f7dcc8;
	text-align: center;
	color:#e3894b; 
	float:left;
	width:100%;
	display:none;
}
.findstep ul{
	height: 50px;
	width: 680px;
	margin:10px auto;
	background:url(../../images/step.png) no-repeat 0 0;
}
.findstep ul.step2{
	background-position: 0 -108px;
}
.findstep ul.step3{
	background-position: 0 -237px;
}
.findstep li{
	float: left;
	width: 33.3%;
	text-align: center;
	padding-top: 45px;
	font-size: 16px;
	color: #1e79be;

}
.inputbox {
	text-align: center;
	margin-top:75px; 
}
.inputbox dl{
 	position: relative;
 	width: 100%;
 	height:36px;
 	line-height: 36px;
 	margin-bottom: 20px; 
}
.inputbox dl dt{
	display: inline-block;
	text-align: right;
	width: 225px;
}
.inputbox dl dt span{
	color: #f00;
}
.inputbox dl dt label{
	color: #5e5e5e;
	font-size:14px;
}
.inputbox dl dd{
	display: inline-block;
	text-align: left;
	width: 500px;
}
.inputbox dl dd input{
	width: 328px;
	border:1px solid #a5a5a5;
	height:34px;
	line-height: 34px; 
	font-size:14px;
}

.inputbox .sendcode{
	width: 90px;
	height: 36px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	cursor: default;
	margin-left: 15px;
	color: #c4c3c3;
	background:url(../../images/sendcodeg.png) no-repeat;
}

.inputbox .sendcode.active{
	color: #708392;
	cursor: pointer;
	background:url(../../images/sendcode.png) no-repeat;
}
.inputbox .stepbox1 p{
    color: green;
    width: 500px;
    margin: -15px 357px 0;
    text-align: left;
}
.inputbox .stepbox1 p span{
	color: #e3894b;
	margin:0 5px;
}
.inputbox .nextstep{
	width: 90px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
	background:url(../../images/nextstep.png) no-repeat;
}
.inputbox .stepbox3 p{
	font-size: 18px;
	color: #5d5d5d;
	margin:63px 0 30px 0;
}
.inputbox .stepbox3 p span{
	color: #378bca;
	margin:0 10px;
}
.inputbox .stepbox3 a{
	color: #378bca;
	border-bottom:1px solid #378bca;
}

.inputbox .stepbox2,.inputbox .stepbox3{
	display: none;
}
.inputbox dl dd .warn{
	border:1px solid #eccfba;
	color: #707070;
}
.login-content h3{
	font-size:24px;
	color:#505050;
	margin:155px 0 45px 228px;
	font-weight: normal;
}
.login-content .left{
	font-size:16px;
	color:#fff;
	height:50px;
	line-height:50px;
	width:293px;
	margin-left:229px;
	text-align: center;
	background:url(../../images/leftbg.png)
}
.login-content .right{
	font-size:16px;
	color:#fff;
	height:50px;
	line-height:50px;
	width:293px;
	margin:0 0 0 75px;
	 float:left;
	 text-align: center;
	background:url(../../images/rightbg.png)
}

.select-login{
	width:870px;
	height:auto;
	margin:0 auto;
	margin-top:85px;
}
.select-login p{
	width:100%;
	height:28px;
	line-height:28px;
	font-size:24px;
	color:#6b6c6d;
	
}
.select-login .entry{
	width:100%;
	margin-top:35px;	
}
.select-login .entry div{
	width:186px;
	height:auto;
	float:left;
	margin-right:42px;		
	text-align: center;
	
}
.select-login .entry div.last{
	margin-right:0px;	
	
}
.select-login .entry div img{
	width:186px;
	height:186px;	
	margin-bottom:15px;
}
.select-login .entry div p{
	font-size:16px;
}
.boombgSql {
	width: 100%;
	height: 100%;
	background: #fff;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99
}
.wrap-dialog {
	z-index: 200;
	display: block;
	position: absolute;
	background: #fff;
	height: 150px;
	width: 350px;
	border: 1px solid #999;
	border-radius: 5px;
	text-align: center;
	padding: 10px 20px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
}

.dialog-header {
	text-align: left;
	padding-left: 30px;
	border-bottom: 1px dashed #E0DDDD;
}

.dialog-title {
	margin: 8px 0;
}
.dialog-message{
	padding: 15px;
}
.dialog-footer .btn {
	width: 85px;
	height: 30px;
	line-height: 27px;
	border: 1px solid transparent;
	background: #37AED8;
	color: #fff;
	border-radius: 3px;
	margin-left: 7px;
	box-shadow: 2px 2px 2px 2px rgba(55, 174, 216, .4);
	cursor: pointer;
	outline: none;
}

.dialog-footer .btn:hover {
	background-color: #1095c5;
}

.dialog-footer .btn:active {
	position: relative;
	top: 1px;
}